<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <h1 class="notavailable">Not available</h1>

<a href="/" class="searchagain">Search again!</a> 

<% include ../partials/footer %>
</body>

</html>